body {
    background: #1a1a1a;
    font-family: Arial, sans-serif;
    color: #fff;
}

.app {
    max-width: 700px;
    background: #2b2b2b;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #4a4a4a;
}

h1 {
    text-align: center;
    margin: 0 0 20px;
    color: #ffb3b3;
}

.box {
    background: #550000;
    padding: 15px;
    margin: 15px 0;
    border-radius: 12px;
    border: 1px solid #802020;
}

h2 {
    margin: 0 0 10px;
    color: #ffd4d4;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.row input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #232323;
    color: #fff;
}

.row button {
    padding: 8px 15px;
    background: #ff3333;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

.row button:hover {
    background: #ff4d4d;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: #2f2f2f;
    padding: 8px 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

.tick,
.delete {
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 8px;
}

.tick {
    color: #00e676;
}

.delete {
    color: #ff8a80;
}